---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Le Cabinet - JP Insurance',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">Prêt à économiser sur vos assurances ? Obtenez votre devis dès maintenant !</Fragment>

    <Fragment slot="subtitle">
      <span class="">
        Doté d’une expérience de plus de 8 ans dans les activités d’assurance,
        <span class="font-semibold">Julien Plichta</span> a fondé le cabinet JP Insurance, dans le but d’accompagner ses
        clients particuliers et professionnels tout au long de la vie de leurs contrats et dans toute la France.</span
      >
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Le cabinet est spécialisé dans l’optimisation de vos assurances."
    subtitle="Nous sommes entourés d’un réseau de compagnies d’assurances et d’expert techniques prêts à vous conseiller et accompagner de la souscription jusqu’au sinistre, tout en suivant l’évolution de votre contrat en fonction de votre situation. Trouver la meilleure offre est notre métier, laissez-vous guider."
    tagline="Services"
    items={[
      {
        title: 'Assurance du Professionnel',
      },

      {
        title: 'Assurance du Particulier',
      },
    ]}
  />
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients satisfaits', amount: '100' },
      { title: 'Euros économisés', amount: '10 000' },
    ]}
  />
  <Testimonials
    title="Témoignages"
    testimonials={[
      {
        testimonial: `Objectif atteint, avec 6 mois de retard`,
        name: 'Quentin A.',
        job: 'Pro des travaux',
        image: {
          src: '',
          alt: 'QA Image',
        },
      },
      {
        testimonial: `J'arrive dans 5min`,
        name: 'Clément L.',
        job: 'Retardataire',
        image: {
          src: '',
          alt: 'CL Image',
        },
      },
      {
        testimonial: `La prochaine est pour moi`,
        name: 'Julien P.',
        job: 'Pilier de bar',
        image: {
          src: '',
          alt: 'JP Image',
        },
      },
    ]}
  />
</Layout>
