---
import type { ItemGrid as Props } from '~/types';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';

const { items = [], defaultIcon = '', classes = {} } = Astro.props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
} = classes;
---

{
  items && (
    <a href={'/'} target={'_self'} class="group" class:list-reset>
      <div class={twMerge(`flex flex-wrap justify-center gap-6`, containerClass)}>
        {items.map(({ title, description, icon, callToAction, classes: itemClasses = {} }) => (
          <div
            class={twMerge(
              'relative flex flex-col items-center justify-between  rounded-lg shadow-lg w-full sm:w-[200px] h-full',
              panelClass,
              itemClasses?.panel
            )}
          >
            {(icon || defaultIcon) && (
              <Icon name={icon || defaultIcon} class={twMerge('mb-2 w-10 h-10', defaultIconClass, itemClasses?.icon)} />
            )}
            <div class={twMerge('text-xl font-bold text-center', titleClass, itemClasses?.title)}>{title}</div>
            {description && (
              <p
                class={twMerge('text-muted mt-2 text-center', descriptionClass, itemClasses?.description)}
                set:html={description}
              />
            )}
            {callToAction && (
              <div class="mt-2 w-full flex justify-center">
                <Button {...callToAction} />
              </div>
            )}
          </div>
        ))}
      </div>
    </a>
  )
}
